{% extends "base.html" %}

{% block title %}Code Crushers - Browse{% endblock %}

{% block styling %}{% endblock %}

{% block main %}

<div class="text-center">
    <h1>Placeholder for browsing page.</h1>
</div>


{% for course in data %}
<div class="card m-2" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp" class="img-fluid rounded-start" />
        </div>
        <div class="col-md-8">
            <div class="card-body">

                <h5 class="card-title">{{ course }}</h5>
                <p class="card-text">
                    This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                </p>
                <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </p>
            </div>
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}